/* HOME */
.fondodocumento {
    background-image: url(../img/carrusel/fondodoncumento.jpg);
    height: calc(100vh);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.barranav {
    color: black;
    font-size: 1.2rem;
}

.barranav :hover {
    color: rgb(9, 225, 52);
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imginicio {
    display: none;
}

.ingreso-b {
    display: none;
}

/* FOOTER */
a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

footer {
    text-align: center;
    border-top: 1px solid #04d643;
    color: black;
}

p {
    font-size: 1.6rem;
}
h1{
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
    opacity: 0.5;
}

.redsocial {
    list-style-type: none;

}

.redsocial svg {
    color: #04d643;
}


/* SECCION DE UBICACION */
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sucursal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECCION DE CONTACTO */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    max-width: 400px;
    /* background-color: rgba(1, 58, 84, 0.5); */
    background: linear-gradient(#000428, #19547b, #19547b, #19547b, #2c3e50);
    border-radius: 7px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 100%);
    color: white;
    margin: auto;
}

.fondoinput {
    background-color: transparent;
}

.contacto-b {
    display: none;
}

/* SECCION DE BIENESTAR */

.foro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECCION TIENDA */
.imagentienda {
    transition: all 0.3s ease;
    width: 50vh;
    border-radius: 5px;
}

.imagentienda:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 100%);
}

/* BOTONES */
.botones {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    color: #3fada8;
    background-color: black;
    border-radius: 4px;
    align-items: center;
    width: 12vw;
    transition: all 0.3s;
}

.botones :hover {
    background-color: transparent;
    color: #3fada8;
    border: black 2px;
    transform: scale(1.05);
}

.botonesform {
    background-color: #000428;
    border: #04d643 solid 1px;
    color: white;
    transform: all 0.3s ease;
}

.boton {
    color: #3fada8;
    background-color: black
}

.login {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    color: #3fada8;
    background-color: black;
    border-radius: 4px;
    align-items: center;
    width: 20vw;
}

/* MEDIA QUERRIS */

@media(min-width:340px) and (max-width: 768px) {
    .carrusel {
        display: none;
    }

    .imginicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ingreso-b {
        background-color: rgba(1, 58, 84, 0.7);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tienda {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .ingresar {
        display: none;
    }

    .contactanos {
        display: none;
    }

    .contacto-b {
        background-color: rgba(1, 58, 84, 0.7);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botones {
        width: 30vh;
        margin: auto;
    }
}


@media(min-width: 768px) and (max-width: 1023px) {
    .tienda {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .ingreso-b {
        background-color: rgba(1, 58, 84, 0.7);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botones {
        width: 30vw;
        color: #3fada8;
        margin: auto;
    }


}