/* HOME */
.fondodocumento {
    background-image: url(../img/fondo1.jpeg);
    height: calc(100vh);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barranav {
    color: black;
    font-size: 1.2rem;
    justify-content: space-evenly;
}

.barranav :hover {
    color: rgb(9, 225, 52);
}

.imgcarousel {
    width: 80vw;
    height: 90vh;
}

.imginicio {
    display: none;
}

.ingreso-b {
    display: none;
}

/* FOOTER */
a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

footer {
    text-align: center;
    border-top: 1px solid #04d643;
    color: black;
}

p {
    font-size: 1.7rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
    opacity: 0.5;
}

.redsocial {
    list-style-type: none;

}


/* SECCION DE UBICACION */
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sucursal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECCION DE CONTACTO */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    max-width: 400px;
    background-color: rgba(122, 102, 120, 0.2);
    border-radius: 7px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 100%);
    color: black;
    margin: auto;
}

.fondoinput {
    background-color: transparent;
}

.contacto-b {
    display: none;
}

/* SECCION DE BIENESTAR */
.bodybienestar {
    background-image: url(../img/carrusel/fondobienestar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.foro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SECCION TIENDA */
.imagentienda {
    transition: all 0.3s ease;
    width: 50vh;
}

.imagentienda:hover {
    transform: scale(1.07);
}

/* BOTONES */
.botones {
    color: rgb(9, 225, 52);
    border: rgb(9, 225, 52);
    align-items: center;
}

.botones :hover {
    background-color: rgb(79, 247, 112);
    color: black;

}

/* MEDIA QUERRIS */

@media(max-width: 400px) {
    .carrusel {
        display: none;
    }

    .imginicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ingreso-b {
        background-color: rgba(213, 245, 227, 0.5);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tienda {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .ingresar {
        display: none;
    }

    .contacto-b {
        background-color: rgba(213, 245, 227, 0.5);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactanos {
        display: none;
    }
}


@media(max-width: 768px) {
    .tienda {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .ingreso-b {
        background-color: rgba(213, 245, 227, 0.5);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ingresar {
        display: none;
    }

    .contacto-b {
        background-color: rgba(213, 245, 227, 0.5);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactanos {
        display: none;
    }

    .botones {
        width: 30vw;
        color: black;
        margin: auto;
    }

    .botones :hover {
        background-color: rgba(79, 247, 112, 0.2);
    }

    .foro {
        width: 50vh;
        margin: auto;
    }

}